.about-content
{   
    background-color: black;
    display: grid;
    grid-template-columns: 25% 35% 40%;
    grid-template-rows: auto 1fr 1fr;
    height: calc(100vh - 80px); 
    
    padding: 0;
    gap:0;
    box-sizing: border-box;
    border-color: black;
}
.about-other
{
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 80px);
    overflow: hidden;
    flex-shrink: 1;
    z-index: 1200;
}
#AboutTheGame
{
    font-family: "Anton";
    background:linear-gradient(rgb(53, 255, 221), rgb(255, 189, 252));
    height: 60%;
    padding: 10px;
    
   
    font-size: 23px;
    border: solid black;
    border-width: 5px;
    border-top: 0;
    border-left: 0;
    overflow: hidden;
    flex-grow: 1;
    box-sizing: border-box;
    max-width: 100%;
    flex-shrink: 1;
    white-space: normal;

    display: flex; 
    align-items: center; 
    justify-content: center; 
}

#infected
{
    width: auto;
    height: auto;
    position: relative;
    bottom: 0;
    object-fit: contain; 
    max-height: 40%;
}
.trird
{
    background-color: black;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 80px);
    overflow: hidden;
}

#world, #trio
{
    width: 100%;
    height: auto;  
    object-fit: contain; 
    box-sizing: border-box; 
    border: 5px solid black; 
    border-bottom: 0;
    border-top: 0;
}

@media (max-width: 1500px) {
    #world, #trio {
        display: none; 
    }

    .about-other {
        flex-shrink: 1; 
    }
    #AboutTheGame
    {
        font-size: large;
    }
    .about-content {
        grid-template-columns: 25% 75%;
        grid-template-rows: auto 1fr; 
    }
}
