.developers-content {
    display: grid;
    grid-template-columns: 20% 50% 30%; 
    grid-row: auto 1fr auto;
}
.company
{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
    background: linear-gradient(rgb(255, 213, 248), rgb(69, 255, 246), rgb(146, 220, 230));
    height: calc(100vh - 100px);
}
#company-text
{
    height: 70%;
    font-size: 19px;
    border-left:0;
    padding: 10px;
    margin: 0;
    overflow: hidden;
    object-fit: cover;
    word-break: break-word;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-grow: 1;
    max-width: 100%;
    flex:1;
    align-items: center;
}
#games
{
    height: 30%;
    align-items: center;
    box-sizing: border-box;
    border-top: 5px solid black;
    max-width: 100%; 
    height: auto;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
}


.girl {
    display: flex;
    border-left: 5px solid black;
    position: relative;
    left: 0;
    background: linear-gradient(rgb(255, 208, 249), rgb(38, 108, 129));
    align-items: center; 
    justify-content: center; 
    overflow: hidden; 
}

#girl {
    width: 100%; 
    height: auto; 
    max-height: 100%; 
    object-fit: contain; 
}
@media (max-width: 1300px) {
    #company-text {
        font-size: medium;
    }
}



